.logo {
  position: absolute;
  top: 25px;
  left: 0;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 540px) {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
  }
  span {
    font-size: 10px;
    display: block;
    text-align: center;
    line-height: 14px;
    @media (max-width: 768px) {
      text-align: left;
    }
    @media (max-width: 540px) {
      text-align: center;
    }
    @media (max-width: 539px) {
      font-size: 6px;
      line-height: 10px;
    }
  }
  a {
    @media (max-width: 768px) {
      order: 1;
    }
  }
  &--subtitle {
    @media (max-width: 768px) {
      order: 0;
      margin-bottom: 20px;
    }
  }
}

.logo__pic {
  @media (min-width: 320px) {
    width: 174px;
    height: 84px;
  }
}
